

{% extends 'base.html' %}


{% block app_content %}
<body class="bookNotFoundBody">

    <div class="row">
      <div class="col-11 offset-1">
        <h1 class="bookNotFoundH1Top"> Fahrenheit 451 <h1>
        </div>
      </div>
      <div class="row">
    <div class="col-8 offset-2">
      <h1 class="bookNotFoundH1Middle" > Nothing Found... </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-1">
    <h1 class="bookNotFoundH1Bottom"> The book was lost in the flames.. </h1>
  </div>
  </div>
<div class="row">
<div class="bg">
  </div>
</div>

</body>
{% endblock %}
