


{% extends 'base.html' %}


{% block app_content %}
<body class="secretNotesBody">
  <script type="text/javascript" src="static/js/notepad.js"> </script>
<div class="row">
  <div class="col-9 offset-2">
  <h1 class="secretNotesH1"> A secret notepad.. </h1>
</div>
</div>
<div class="row">
  <div class="col-8 offset-3">
  <h3 class="secretNotesH3"> USE FOR DELICATE INFORMATION</h3>
</div>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <main id="mymain" contenteditable="" autocorrect="off">
    </main>
    <button id="mybtn" class="secretNotesButton">Save</button>
  </div>
</div>
</body>
{% endblock %}
